<div class="map-content">

  <div class="top-banner-img"></div>

  <div
    appMapPanel
    style="height: calc(100vh)"
    popupId="popupContainer"
    (contextmenu)="$event.preventDefault()"
    (clickMap)="clickMap($event)"
  >
  </div>

  <div class="map-content-left">
    <div class="left-1"></div>
    <div class="left-2"></div>
  </div>

  <div class="map-content-right">
    <div class="right-1"></div>
    <div class="right-2"></div>
  </div>
  <div class="map-content-bottom">

  </div>



  <!--echart测试-->
<!--  <div style="width: 500px;height: 500px;position: absolute;left: 0;top: 0;z-index: 99999;" id="lineChart" #ccc>-->

<!--  </div>-->

</div>

<!--<div class="map-content">-->
<!--  <img src="../../../../assets/img/top-banner.png" alt="">-->
<!--  <div-->
<!--    appMapPanel-->
<!--    style="height: calc(100vh)"-->
<!--    popupId="popupContainer"-->
<!--    (contextmenu)="$event.preventDefault()"-->
<!--    (clickMap)="clickMap($event)"-->
<!--  >-->
<!--  </div>-->
<!--</div>-->
