.map-content {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  //background-color: #0c3ea6;
  .top-banner-img {
    width: 1920px;
    //height: 54px;
    height: 89px;
    background-image: url("../../../../assets/img/top-banner.png");
    //background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    background-size: contain;

    .time-info {
      font-size: 14px;
      margin-top: 10px;
      margin-left: 15px;
      display: flex;
      align-items: center;
      color: #3A4260;

      .work-safety-day {
        font-size: 20px;
        color: #2F6EFF;
        font-weight: bold;
        padding-left: 4px;
        padding-right: 4px;
      }
    }

    .user-info {
      height: 54px;

      .weather-background {
        height: 32px;
        line-height: 32px;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        background-image: linear-gradient(to right, #236AFC, #6E9DFD);
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 20px;
      }

      .user {
        font-size: 14px;
      }
    }
  }

  .map-content-left {
    position: absolute;
    top: 65px;

    .left-1 {
      width: 460px;
      height: 35.5vh;
      //box-shadow: 0 3px 6px #2E396C1F, 0 3px 6px #2E396C1F, 0 3px 6px #2E396C1F;
      box-shadow: 0 1px 2px -2px #2E396C1F, 0 1.5px 3px #2E396C1F, 0 2.5px 8px 2px #2E396C1F;
      background-color: rgba(255, 255, 255, .8);
      margin-left: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .left-2 {
      width: 460px;
      height: 30vh;
      box-shadow: 0 1px 2px -2px #2E396C1F, 0 1.5px 3px #2E396C1F, 0 2.5px 8px 2px #2E396C1F;
      //box-shadow: 0 3px 6px #2E396C1F, 0 3px 6px #2E396C1F, 0 3px 6px #2E396C1F;
      background-color: rgba(255, 255, 255, .8);
      margin-left: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }

  .map-content-right {
    position: absolute;
    top: 65px;

    .right-1 {
      width: 460px;
      height: 23vh;
      box-shadow: 0 1px 2px -2px #2E396C1F, 0 1.5px 3px #2E396C1F, 0 2.5px 8px 2px #2E396C1F;
      background-color: rgba(255, 255, 255, .8);
      margin-right: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .right-2 {
      width: 460px;
      height: 42.5vh;
      box-shadow: 0 1px 2px -2px #2E396C1F, 0 1.5px 3px #2E396C1F, 0 2.5px 8px 2px #2E396C1F;
      background-color: rgba(255, 255, 255, .8);
      margin-right: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }

  .map-content-bottom {
    position: absolute;
    bottom: 10px;

    .bottom-1 {
      width: 460px;
      height: 24vh;
      float: left;
      margin-left: 10px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, .8);
    }

    .bottom-2 {
      width: 460px;
      height: 24vh;
      float: left;
      margin-left: 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, .8);
    }

    .bottom-3 {
      width: 460px;
      height: 24vh;
      float: left;
      margin-left: 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, .8);
    }

    .bottom-4 {
      width: 460px;
      height: 24vh;
      float: left;
      margin-left: 20px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, .8);
    }
  }

  .title-line {
    width: 100%;
    height: 40px;
    background-image: url("../../../../assets/img/split-line.png");
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #1D2960;
    font-weight: bold;
    padding-left: 5px;

    .arrows {
      margin-left: 5px;
      width: 22px;
      height: 15px;
      background-image: url("../../../../assets/img/arrows.png");
      background-size: contain;
    }
  }

  .left-1-content {
    .tuntu {
      width: 58px;
      height: 64px;
      background-image: url("../../../../assets/img/tuntu.png");
      background-size: contain;
    }
  }

  .q1, .q2 {
    width: 47%;
    height: 70px;
    background-color: #EBF0FF;
    border-radius: 3px;
    border: 1px solid #97BAFF;
    padding: 5px;

    .q1-b {
      height: 30px;
      background: linear-gradient(to bottom, #155BFF, #83ACFF);
      width: 100%;
      border-radius: 3px;
    }
  }
}

#tunTuPieChart1 {
  height: 14vh;
}

#tunTuPieChart4 {
  height: 25vh;
  width: 300px;
}
#tunTuBarChart1 {
  height: 20vh;
}

.left-2-bili {
  width: 200px;
  height: 100%;

  .qu {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #0c3ea6;
  }
}



.left-2-content {
  height: calc(100% - 40px);

  .charts {
    height: 100%;
    //height: 240px;
  }
}
.bottom-3-content{
  height: calc(100% - 40px);
  .charts {
    height: 100%;
  }
  .bottom-3-gc{
    width: 260px;
    height: 100%;
    .qu {
      width: 10px;
      height: 10px;
      border-radius: 2px;
      margin-bottom: -10px;
    }
    .goods-yard{
      margin-bottom: -10px;
      font-weight: bold;
      font-size: 13px;
    }
    .ton{
      margin-bottom: -10px;
      font-size: 12px;
      //font-weight: bold;
    }
    //background-color: #0c3ea6;
  }
}
.bottom-2-content{
  height: calc(100% - 40px);
  .bottom-2-title{
    width: 100%;
    height: 26px;
    background-color: #3D7AFF;
    border-radius: 5px;
    color: #fff;
  }
  .bottom-2-text{
    width: 100%;
    height: 26px;
    background-color: #E1EBFF;
    border-radius: 5px;
    color: #000;
  }
  .bottom-2-text:nth-child(2n+1){
    background-color: #ffffff !important;
  }
}
.qu-san {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #2D77FF;
}
.qu-za {
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background-color: #20DEE6;
}
.map-content-right{
  .progress{
    color: #1D2960;
    padding-top: 5px;
  }
  .owner-name{
    margin-bottom: -8px;
    font-size: 13px;
  }
}
.bottom-4{
  .bottom-4-content{
    height: calc(100% - 40px);
    justify-content: space-evenly;
  }
  .bottom-4-t-blue{
    width: 135px;
    height: 60px;
    background-image: url("../../../../assets/img/blue.png");
    background-size: contain;
    .percent{
      color: #3D7AFF;
      font-size: 20px;
      margin-top: -5px;
    }
    .ton{
      margin-top: -10px;
    }
  }
  .bottom-4-t-orange{
    width: 135px;
    height: 60px;
    background-image: url("../../../../assets/img/orange.png");
    background-size: contain;
    .percent{
      color: #FFA731;
      font-size: 20px;
      margin-top: -5px;
    }
    .ton{
      margin-top: -10px;
    }
  }
  .b4-tips-t{
    height: 25px;
    line-height: 25px;
    width: 100%;
    background: linear-gradient(to right, #DBE7FC, #F2F5FB);
    border-left: 3px solid #2969FE;
  }
  .b4-tips-b{
    height: 25px;
    line-height: 25px;
    width: 100%;
    background: linear-gradient(to right, #FCEAD9, #FBF7F2);
    border-left: 3px solid #FFA731;
  }
}
