.ant-progress-inner {
  background-color: #EAEAEA;
}

.progress-line:nth-child(1){
  .ant-progress-inner{
    background-color: #FDEAEA !important;
  }
}
.progress-line:nth-child(2){
  .ant-progress-inner{
    background-color: #FFEFC8 !important;
  }
}
.progress-line:nth-child(3){
  .ant-progress-inner{
    background-color: #D8EBFF !important;
  }
}
